{
  "presets": [
    "react",
    ["env", {
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
